body{
    overflow-x:hidden;
}
#navbar{
	justify-content: center;
	overflow:hidden;
	box-sizing: border-box;
	color: white;
	background-color: #8e806a;
    padding: 13px 30px;
}
#navbar img{
	float: left;
	display: block;
	color: white;
	padding: 0px 100px 0px 0px;
}
#navbar a{
	font-family: arial;
	font-size: 40px;
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 13px 50px;
	text-decoration: none;
}
#navbar a.right{
	float: right;
	padding: 13px 20px;
}
.search{
    color: black;
    display: block;
    float: left;
    padding: 24px 20px;
}
#filter{
    width: 115px; 
    border-radius: 5px;
    float: left;
    padding: 4px;
}
#txtSearch{
    float: left;
    width: 170px;
    padding: 4px;
}
.booklist{
    padding: 50px 120px; 
}
.book{
    padding-bottom: 250px;
} 
.desc{
    padding-left: 300px;
}
.price th{
    padding: 7px;
    padding-left: 0px;
}
.price tr .subtotal{
    padding-top: 20px;;
}
.total{
    position: absolute; 
    top: 23%; 
    left: 70%;
    background:#8E806A;
    color: white;
    box-sizing: border-box;
    width: 290px;
    box-sizing: border-box;
    border-radius: 15px;
    position: absolute;
    height: 210px;
}
.kontenTotal{
    padding-top: 20px;
    padding-left: 60px;
}
#bayar{
    width: 100%;
    height: 20%;
    font-size: 18px;
    background-color: #8E806A;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    top: 10px;
}
#bayar :hover{
    background-color: #000000;
}
footer {
    background-color: #8e806a;
    color: white;
    padding: 22px;
}
footer a {
    color: white;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}